# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json
.pytest_cache/
.hypothesis/

# Node.js
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# C++ (CMake)
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.a
*.so
*.dylib

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
